<br />
<br />
<h1 class="display">Hero component</h1>

<section class="container hero">
  <h1 class="display--big theme_type--brand">Install Rocket.Chat</h1>
  <p class="display--small theme_type--brand">For your desktop, mobile or server</p>
</section>

<br />
<br />
<h1 class="display">Card with grid component</h1>

<section class="container theme_box--space" style="padding: 2em; margin-bottom: 2em;">
  <p class="theme_type--dark">.flex-grid {}</p>
  <div class="flex-grid">
    <div class="col">
      <div class="card theme_box--dark">
        <h3 class="display--small theme_type--grey">Card header</h3>
        <div class="card_footer theme_box--dark-strong">Card footer</div>
      </div>
    </div>

    <div class="col">
      <div class="card theme_box--dark">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>

    <div class="col">
      <div class="card theme_box--dark">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>

  <p class="theme_type--dark">.flex-grid.grid--justify-around {}</p>
  <div class="flex-grid grid--justify-around">
    <div class="col--third">
      <div class="card theme_box--dark">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>

    <div class="col--third">
      <div class="card theme_box--dark">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</section>

<section class="container" style="padding: 2em;">
  <div class="flex-grid">
    <div class="col">
      <div class="card card--full-height theme_box--light">
        <div class="flex-grid--nobreak">
          <img class="card_icon--mini" src="/images/default/question.svg" />
          <div class="col no-gutter">
            <h3 class="display--small">With mini icon</h3>
            <p class="type--nomargin">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card--full-height theme_box--light theme_type--light">
        <div class="flex-grid">
          <div class="col--fourth no-gutter"><img class="card_icon" src="/images/index/devices.png" alt="Easy" /></div>
          <div class="col no-gutter">
            <h3 class="display--small">With icon</h3>
            <p class="theme_type--light type--nomargin">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card--full-height theme_box--brand card--shadow">
        <p class="theme_type--dark type--nomargin">
          <h3 class="display--small theme_type--dark">Brand color with shadow</h3>
          <p class="theme_type--dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </p>
      </div>
    </div>
  </div>
</section>


<br />
<br />
<h1 class="display">Card blog feature</h1>

<div class="blog__featured">
  <a 
    class="card--blog card--blog__image"
    href=""
    style="background-image: url('/images/blog/post.jpg')"
  >
    <div class="card--blog__wrap">
      <p class="theme_type--dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </a>
  <a 
    class="card--blog card--blog__image"
    href=""
    style="background-image: url('/images/blog/post.jpg')"
  >
    <div class="card--blog__wrap">
      <p class="theme_type--dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </a>
  <a 
    class="card--blog card--blog__image"
    href=""
    style="background-image: url('/images/blog/post.jpg')"
  >
    <div class="card--blog__wrap">
      <p class="theme_type--dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </a>
  <a 
    class="card--blog card--blog__image"
    href=""
    style="background-image: url('/images/blog/post.jpg')"
  >
    <div class="card--blog__wrap">
      <p class="theme_type--dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </a>
  <a 
    class="card--blog card--blog__image"
    href=""
    style="background-image: url('/images/blog/post.jpg')"
  >
    <div class="card--blog__wrap">
      <p class="theme_type--dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </a>
</div>

<br />
<br />
<h1 class="display">Card blog horizontal</h1>

<a 
  class="card--blog card--horizontal"
  href=""
  style="background-image: url('/images/blog/post.jpg')"
>
  <div class="card--blog__wrap">
    <p class="theme_type--dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</a>


<br />
<br />
<h1 class="display">Table</h1>

<div class="flex-grid">
  <div class="col">
    <div class="theme_box--space" style="padding: 2em">
      <table class="table table--dark">
        <tr>
          <th colspan="2">rocket.chat cloud</th>
        </tr>
        <tr>
          <td>
            Critical business impact <strong>1 hour</strong>
          </td>
          <td>
            Column
          </td>
        </tr>
        <tr>
          <th colspan="2">rocket.chat cloud</th>
        </tr>
        <tr>
          <td>
            Column
          </td>
          <td>
            Column
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col">
    <div style="padding: 2em">
      <table class="table table--light">
        <tr>
          <th colspan="2">rocket.chat cloud</th>
        </tr>
        <tr>
          <td>
            Critical business impact <strong>1 hour</strong>
          </td>
          <td>
            Column
          </td>
        </tr>
        <tr>
          <th colspan="2">rocket.chat cloud</th>
        </tr>
        <tr>
          <td>
            Column
          </td>
          <td>
            Column
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<br />
<br />
<h1 class="display">Pagination</h1>
<div class="pagination">
  <a href="/blog/" class="previous"><img src="/images/default/arrow--left.svg"></a>
  <a href="/blog/">
    <span>1</span>
  </a>
  <span class="current">
    <span>2</span>
  </span>
  <a href="/blog/page/3/">
    <span>3</span>
  </a>
  <a href="/blog/page/4/">
    <span>4</span>
  </a>
  <a href="/blog/page/5/">
    <span>5</span>
  </a>
  <a href="/blog/page/6/">
    <span>6</span>
  </a>
  <a href="/blog/page/7/">
    <span>7</span>
  </a>
  <a href="/blog/page/3/" class="next"><img src="/images/default/arrow--right.svg"></a>
</div>

<br />
<br />
<h1 class="display">Divider</h1>

<div class="flex-grid">
  <div class="col">
    <div class="theme_box--space" style="padding: 2em">
      <div class="divider divider--dark"></div>
    </div>
  </div>
  <div class="col">
    <div style="padding: 2em">
      <div class="divider divider--light"></div>
    </div>
  </div>
</div>
<br />
<br />
<h1 class="display">Spacer <small>(Like margins)</small></h1>

<hr />
<div class="space--1"></div>
<hr />
<div class="space--2"></div>
<hr />
<div class="space--3"></div>
<hr />
<div class="space--4"></div>
<hr />
<div class="space--5"></div>
<hr />
<div class="space--6"></div>
<hr />
<div class="space--7"></div>
<hr />
<div class="space--8"></div>
<hr />
<div class="space--9"></div>
