<br />
<br />
<h1 class="display">Form elements</h1>

<h2 class="display--small">Constraints & Style — Light Background</h2>
<p>Inputs will look differently depending on the background.</p>

<div class="flex-grid">
  <div class="col">
    <input placeholder="Text placeholder" class="input" />
    <input value="Filled input" class="input" />
  </div>
  <div class="col">
    <input placeholder="Disabled input" disabled class="input disabled" />
    <input placeholder="Error input" class="input input--error" />
  </div>
</div>

<div class="flex-grid">
  <div class="col">
    <div style="padding: 2em;">
      <div class="select select--theme-light">
        <select>
          <option value="">Select box</option>
          <option value="value">Value 1</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col theme_box--space">
    <div style="padding: 2em;">
      <div class="select select--theme-dark">
        <select>
          <option value="">Select box</option>
          <option value="value">Value 1</option>
        </select>
      </div>
    </div>
  </div>
</div>
