<br />
<br />
<h1 class="display">Typography</h1>
<h2 class="display--small">Font Family</h2>
<p>Rocket.Chat’s website should always use the system’s native font. The following styleguide will be created using Mac’s system
  font:
  <strong>San Francisco UI Text &amp; Display.</strong>
</p>

<h2 class="display--small">Font size &amp; Weight</h2>
<p>The font scale consists of 7 different sizes &amp; 4 weights: Regular, Medium, Semibold &amp; Bold.</p>

<h2 class="display--small">Light theme</h2>

<div class="flex-grid">
  <div class="col">
    <h2 class="display--big theme_type--brand">Rocket.Chat</h2>
    <p>.display--big {}</p>

    <h2 class="display theme_type--brand">Rocket.Chat</h2>
    <p>.display {}</p>

    <h2 class="display--small theme_type--brand">Rocket.Chat</h2>
    <p>.display--small {}</p>

    <pre class="code code--light">Code format</pre>
    <p>.code.code--light {}</p>
  </div>

  <div class="col">
    <h2 class="text theme_type--brand">Rocket.Chat</h2>
    <p>.text {}</p>

    <h2 class="text--small theme_type--brand">Rocket.Chat</h2>
    <p>.text--small {}</p>

    <h2 class="label theme_type--brand">Rocket.Chat</h2>
    <p>.label {}</p>

    <h2 class="label--small theme_type--brand">Rocket.Chat</h2>
    <p>.label--small {}</p>

    <h2 class="tag theme_type--brand theme_box--light">Rocket.Chat</h2>
    <p>.tag {}</p>
  </div>
</div>

<h2 class="display--small">Dark theme</h2>

<div class="flex-grid theme_box--space" style="padding: 2em;; margin-bottom: 2em;">
  <div class="col">
    <h2 class="display--big theme_type--dark">Rocket.Chat</h2>
    <p>.display--big {}</p>

    <h2 class="display theme_type--dark">Rocket.Chat</h2>
    <p>.display {}</p>

    <h2 class="display--small theme_type--dark">Rocket.Chat</h2>
    <p>.display--small {}</p>

    <pre class="code code--dark">Code format</pre>
    <p>.code.code--dark {}</p>
  </div>

  <div class="col">
    <h2 class="text theme_type--dark">Rocket.Chat</h2>
    <p>.text {}</p>

    <h2 class="text--small theme_type--dark">Rocket.Chat</h2>
    <p>.text--small {}</p>

    <h2 class="label theme_type--dark">Rocket.Chat</h2>
    <p>.label {}</p>

    <h2 class="label--small theme_type--dark">Rocket.Chat</h2>
    <p>.label--small {}</p>

    <h2 class="tag theme_type--dark theme_box--dark-medium">Rocket.Chat</h2>
    <p>.tag {}</p>
  </div>
</div>

<h2 class="display--small">Grey theme</h2>

<div class="flex-grid theme_box--space" style="padding: 2em;">
  <div class="col">
    <h2 class="display--big theme_type--grey">Rocket.Chat</h2>
    <p>.display--big {}</p>

    <h2 class="display theme_type--grey">Rocket.Chat</h2>
    <p>.display {}</p>

    <h2 class="display--small theme_type--grey">Rocket.Chat</h2>
    <p>.display--small {}</p>

    <pre class="code code--dark">Code format</pre>
    <p>.code.code--dark {}</p>
  </div>

  <div class="col">
    <h2 class="text theme_type--grey">Rocket.Chat</h2>
    <p>.text {}</p>

    <h2 class="text--small theme_type--grey">Rocket.Chat</h2>
    <p>.text--small {}</p>

    <h2 class="label theme_type--grey">Rocket.Chat</h2>
    <p>.label {}</p>

    <h2 class="label--small theme_type--grey">Rocket.Chat</h2>
    <p>.label--small {}</p>

    <h2 class="tag theme_type--grey theme_box--dark-medium">Rocket.Chat</h2>
    <p>.tag {}</p>
  </div>
</div>

<br />

<h2 class="display">Helpers</h2>

<div class="flex-grid">
  <div class="col">
    <h3 class="display--small">.align--center {}</h3>
    <p class="align--center">Occaecat nulla adipisicing pariatur cupidatat quis aliqua ad deserunt. Amet consectetur dolore aute exercitation proident eu aliqua qui nostrud.</p>
  </div>

  <div class="col">
    <h3 class="display--small">.type--nomargin {}</h3>
    <p class="type--nomargin">Occaecat nulla adipisicing pariatur cupidatat quis aliqua ad deserunt. Amet consectetur dolore aute exercitation proident eu aliqua qui nostrud.</p>
  </div>
</div>

