<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rocket.Chat - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
	<meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
  <link rel="shortcut icon" href="/favicon.ico?v=1"/>
  <link rel="stylesheet" href="/styles.css?v={{ site.version }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@RocketChat">
  <meta name="twitter:title" content="Rocket.Chat - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="{{ site.url }}/images/blog/post.jpg">
  <meta name="twitter:image:alt" content="Rocket.Chat - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">

  {% if post.cover %}
  <meta property="og:type"  content="article" />
  <meta property="og:image" content="{{ post.cover }}" />
  {% else %}
  <meta property="og:image" content="{{ site.url }}/images/blog/post.jpg" />
  {% endif %}

  {% include gtm/head.html %}
</head>
<body class="{{ page.class }} {{ page.theme }} {{ page.layout }}">
{% include webrules.html %}
{% comment %}
{% include livechat.html %}
{% endcomment %}
{% include gtm/body.html %}
{{ content }}
<script src="/main.js"></script>
<!--[if IE]>
  <script src="/polyfill/modernizr.js"></script>
  <script src="/polyfill/respond.min.js"></script>
  <script src="/polyfill/calc.min.min.js"></script>
<![endif]-->
</body>
</html>
