<br />
<br />
<h1 class="display">Buttons</h1>

<div class="flex-grid">
  <div class="col">
    <h2 class="display--small">Primary Button — Light Background</h2>
    <p>One input style by default on light backgrounds.</p>
    <p>
      <button class="button">Button element</button>
      <button disabled class="button">Button disabled</button>
      <a class="button" href="">Link element</a>
      <a class="button disabled" href="">Link disabled</a>
    </p>

    <p>Primary button with icon</p>
    <p>
      <a href="/install" class="button">
        <span class="button--icon"><img src="/images/default/install--white.svg" alt="Install"></span>
        <span>Install</span>
      </a>
    </p>

    <h2 class="display--small">Ghost Button — Light Background</h2>
    <p>One input style by default on light backgrounds.</p>
    <p>
      <button class="button--ghost">Button element</button>
      <button disabled class="button--ghost">Button disabled</button>
      <a class="button--ghost" href="">Link element</a>
      <a class="button--ghost disabled" href="">Link disabled</a>
    </p>
    </p>
  </div>
  <div class="col">
    <h2 class="display--small">Text Button — Light Background</h2>
    <p>One input style by default on light backgrounds.</p>
    <p>
      <button class="button--text">Button element</button>
      <button disabled class="button--text">Button disabled</button>
      <a class="button--text" href="">Link element</a>
      <a class="button--text disabled" href="">Link disabled</a>
      <a class="button--text button--with-arrow" href="">.button--with-arrow {}</a>
    </p>

    <h2 class="display--small">Text Link — Light Background</h2>
    <p>One input style by default on light backgrounds.</p>
    <p>
      <a class="button--link" href="">Link element</a>
    </p>

    <h2 class="display--small">Blank — Light Background</h2>
    <p>One input style by default on light backgrounds.</p>
    <p>
      <button class="button--blank">Button element</button>
      <button disabled class="button--blank">Button disabled</button>
      <a class="button--blank" href="">Link element</a>
      <a class="button--blank disabled" href="">Link disabled</a>
    </p>
  </div>
</div>
