.card {
  border-radius: 2px;
  padding: 1.7em;

  > *:last-child {
    margin-bottom: 0;
  }
}

.card__media {
  height: 9em;
  display: flex;

  img {
    margin: auto;
  }
}

.card--full-height {
  min-height: 100%;
}

.card_footer {
  padding: 1em 1.7em;
  margin-left: -1.7em;
  margin-right: -1.7em;
  margin-bottom: -1.7em !important;
  margin-top: 1em;
}

.card_icon {
  display: inline-block;
  width: 6em;
  margin-bottom: 1em;

  @media screen and (min-width: $tablet) {
    width: auto;
  }
}

.card_icon--mini {
  padding-left: $gutter;
  margin-top: .3em;
  @include align-self(flex-start);
}

.card--shadow {
  box-shadow: 0 15px 30px 0 rgba(3, 12, 26, 0.15);
}

// Blog

.card--blog__meta {
  font-weight: 700;
  margin-bottom: .3em;
}

.card--blog {
  min-height: 15em;
  width: 100%;
  position: relative;
  margin-bottom: 1em;

  p {
    transition: all 0.3s ease;
  }

  &.card--horizontal {
    @media screen and (min-width: $tablet) {
      .card--blog__wrap {
        top: 0.5em;
        width: 19em;
      }
    }

    .card--blog__meta {
      margin-bottom: 8.5em;
    }
  }

  &:hover {
    .card--blog__wrap {
      background: $brand;

      .tag {
        background: #fff;
        color: $brand;
      }

      .card--blog__author,
      .card--blog__meta {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

.card-blog-simple {
  min-height: auto;
  margin-bottom: 0;

  .card--blog__wrap {
    margin: .5em;
    position: static;
  }
}

.card--blog__separator {
  border-bottom: 1px solid $space-grey;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}

.card--blog__image {
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  height: 100%;
  min-width: 6em;
}

.card--blog__wrap {
  background: rgba($space, 0.9);
  border-radius: 2px;
  padding: 1.5em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  transition: all 0.3s ease;
}

.card--blog__title {
  font-weight: 600;
}

.card--blog__title {
  margin-bottom: 0.7em;
  height: 3em;
  overflow: hidden;
}

.card--blog__data {
  @include flexbox();
  @include align-items(center);
}

.card--blog__category {
  margin: 0 1em 0 0;
  display: inline-block;
}

.card--blog__author {
  margin: 0;
  display: inline-block;
}
