.space--075 {
  padding-bottom: .75em;
}

@for $i from 1 through 10 {
  .space--#{$i} {
    padding-bottom: $i/2 + em;

    @media screen and (min-width: $tablet) {
      padding-bottom: $i + em;
    }
  }
}
