---
layout: en/default
class: team
permalink: /team
redirect_from:
  - /team/
  - /rocket-team
  - /rocket-team/

theme: dark
---

{% assign teamList = site.data.team %}

{% assign BrazilTeam = "" | split: "" %}
{% assign CanadaTeam = "" | split: "" %}
{% assign UnitedkingdomTeam = "" | split: "" %}
{% assign USATeam = "" | split: "" %}
{% assign IndiaTeam = "" | split: "" %}
{% assign GermanyTeam = "" | split: "" %}

{% for member in teamList %}
  {% if member.country == "Brazil" %}
    {% assign BrazilTeam = BrazilTeam | push: member %}

  {% elsif member.country == "Canada" %}
    {% assign CanadaTeam = CanadaTeam | push: member %}

  {% elsif member.country == "United Kingdom" %}
    {% assign UnitedkingdomTeam = UnitedkingdomTeam | push: member %}

  {% elsif member.country == "USA" %}
    {% assign USATeam = USATeam | push: member %}

  {% elsif member.country == "Germany" %}
    {% assign GermanyTeam = GermanyTeam | push: member %}

  {% elsif member.country == "India" %}
    {% assign IndiaTeam = IndiaTeam | push: member %}
  {% endif %}
{% endfor %}

<section class="container hero team-map">
  <div class="team-map__wrap">
    <h1 class="display--big theme_type--dark">Team Rocket.Chat</h1>
    <p class="display--small theme_type--grey">A global team to keep the rockets firing</p>
  </div>

  <img class="team-map__map" src="/images/team/world-map.svg" alt="World map" />

  <div>
    <div class="team-map__pin canada">
      <div class="team-map__profile">
        <div class="flags">
          {% for member in CanadaTeam %}
            {% if forloop.index <= 5 %}
              {% if member.photo %}
                <span><img src="/images/team/member/{{ member.username | replace: '.', '-' }}-01.jpg" alt=""></span>
              {% else %}
                <span><img src="/images/team/placeholder.png" alt=""></span>
              {% endif %}
            {% endif %}

            {% if forloop.length > 5 and forloop.last %}
              <span class="count">+{{ forloop.length | minus:5 }}</span>
            {% endif %}
          {% endfor %}
        </div>
        <p>
          <strong>Canada</strong>
          <span><img src="/images/flags/Canada.png" alt="Canada" /></span>
        </p>
      </div>
    </div>

    <div class="team-map__pin brazil">
      <div class="team-map__profile">
        <div class="flags">
          {% for member in BrazilTeam %}
            {% if forloop.index <= 3 %}
              {% if member.photo %}
                <span><img src="/images/team/member/{{ member.username | replace: '.', '-' }}-01.jpg" alt=""></span>
              {% else %}
                <span><img src="/images/team/placeholder.png" alt=""></span>
              {% endif %}
            {% endif %}

            {% if forloop.length > 3 and forloop.last %}
              <span class="count">+{{ forloop.length | minus:3 }}</span>
            {% endif %}
          {% endfor %}
        </div>
        <p>
          <strong>Brazil</strong>
          <span><img src="/images/flags/Brazil.png" alt="Brazil" /></span>
        </p>
      </div>
    </div>

    <div class="team-map__pin unitedkingdom">
      <div class="team-map__profile">
        <div class="flags">
          {% for member in UnitedkingdomTeam %}
            {% if forloop.index <= 5 %}
              {% if member.photo %}
                <span><img src="/images/team/member/{{ member.username | replace: '.', '-' }}-01.jpg" alt=""></span>
              {% else %}
                <span><img src="/images/team/placeholder.png" alt=""></span>
              {% endif %}
            {% endif %}

            {% if forloop.length > 5 and forloop.last %}
              <span class="count">+{{ forloop.length | minus:5 }}</span>
            {% endif %}
          {% endfor %}
        </div>
        <p>
          <strong>United kingdom</strong>
          <span><img src="/images/flags/United-Kingdom.png" alt="Unitedkingdom" /></span>
        </p>
      </div>
    </div>

    <div class="team-map__pin germany">
      <div class="team-map__profile">
        <div class="flags">
          {% for member in GermanyTeam %}
            {% if forloop.index <= 5 %}
              {% if member.photo %}
                <span><img src="/images/team/member/{{ member.username | replace: '.', '-' }}-01.jpg" alt=""></span>
              {% else %}
                <span><img src="/images/team/placeholder.png" alt=""></span>
              {% endif %}
            {% endif %}

            {% if forloop.length > 5 and forloop.last %}
              <span class="count">+{{ forloop.length | minus:5 }}</span>
            {% endif %}
          {% endfor %}
        </div>
        <p>
          <strong>Germany</strong>
          <span><img src="/images/flags/Germany.png" alt="Germany" /></span>
        </p>
      </div>
    </div>

    <div class="team-map__pin usa">
      <div class="team-map__profile">
        <div class="flags">
          {% for member in USATeam %}
            {% if forloop.index <= 5 %}
              {% if member.photo %}
                <span><img src="/images/team/member/{{ member.username | replace: '.', '-' }}-01.jpg" alt=""></span>
              {% else %}
                <span><img src="/images/team/placeholder.png" alt=""></span>
              {% endif %}
            {% endif %}

            {% if forloop.length > 5 and forloop.last %}
              <span class="count">+{{ forloop.length | minus:5 }}</span>
            {% endif %}
          {% endfor %}
        </div>
        <p>
          <strong>USA</strong>
          <span><img src="/images/flags/USA.png" alt="USA" /></span>
        </p>
      </div>
    </div>

    <div class="team-map__pin india">
      <div class="team-map__profile">
        <div class="flags">
          {% for member in IndiaTeam %}
            {% if forloop.index <= 5 %}
              {% if member.photo %}
                <span><img src="/images/team/member/{{ member.username | replace: '.', '-' }}-01.jpg" alt=""></span>
              {% else %}
                <span><img src="/images/team/placeholder.png" alt=""></span>
              {% endif %}
            {% endif %}

            {% if forloop.length > 5 and forloop.last %}
              <span class="count">+{{ forloop.length | minus:5 }}</span>
            {% endif %}
          {% endfor %}
        </div>
        <p>
          <strong>India</strong>
          <span><img src="/images/flags/India.png" alt="India" /></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <ul class="team-grid">
    {% for member in teamList %}
    <li class="team-item">

      <div
        class="team-item__image"
        {% if member.photo %}
          style="background-image: url(/images/team/member/{{ member.username | replace: '.', '-' }}-01.jpg)"
        {% else %}
          style="background-image: url(/images/team/placeholder.png"
        {% endif %}
      ></div>

      <input class="team-button__toggle" id="team-button__{{ forloop.index }}" type="checkbox" />
      <div class="team-item__wrap">
        <h3 class="team-item__name theme_type--dark">
          <strong>{{ member.name }}</strong>
          <span><img src="/images/flags/{{ member.country | replace: ' ', '-'  }}.png" alt="{{ member.country }}" /></span>
        </h3>

        <p class="team-item__role label--small theme_type--grey">{{ member.role }}</p>

        {% if member.description %}
          <label class="team-item__button" for="team-button__{{ forloop.index }}"></label>
          <div class="team-item__bio">
            {% for desc in member.description %}
              <p>{{ desc }}</p>
            {% endfor %}
          </div>
        {% endif %}

        <div class="team-item__social">
          {% if member.github_username %}
            <a target="_blank" href="//github.com/{{ member.github_username }}" rel="noopener noreferrer">
              <img src="/images/team/github.svg" alt="Github link" />
            </a>
          {% endif %}

          {% if member.twitter %}
            <a target="_blank" href="//twitter.com/{{ member.twitter }}" rel="noopener noreferrer">
              <img src="/images/team/twitter.svg" alt="Twitter link" />
            </a>
          {% endif %}

          {% if member.email %}
            <a href="mailto:{{ member.email }}">
              <img src="/images/team/email.svg" alt="{{ member.email }}" />
            </a>
          {% endif %}
          {% if member.username %}
            <a target="_blank" href="https://open.rocket.chat/direct/{{member.username}}">
              <img src="/images/team/rocketchat.svg" alt="{{ member.username }}" />
            </a>
          {% endif %}
        </div>
      </div>
    </li>
    {% endfor %}
    {% capture modulo %}{{ teamList.size | modulo:3 }}{% endcapture %}
    {% if modulo != '0' %}
       <li class="team-item empty"></li>
    {% endif %}
  </ul>
<section>
