---
layout: en/default
---

<div class="double-column container">
  <div class="flex-grid">
    <div class="double-column__sidebar col--fourth no-gutter">
      <div class="double-column__links">
        <ul>
          <li class="{% if page.type == 'terms' %}double-column__links-current{% endif %}"><a href="/terms">Terms of Service</a></li>
          <li class="{% if page.type == 'privacy' %}double-column__links-current{% endif %}"><a href="/privacy">Privacy</a></li>
          <li class="{% if page.type == 'dmca' %}double-column__links-current{% endif %}"><a href="/dmca">DMCA Policy</a></li>
          <li class="{% if page.type == 'gdpr' %}double-column__links-current{% endif %}"><a href="/gdpr">GDPR</a></li>
        </ul>
      </div>
    </div>

    <div class="double-column__content col">
      <div class="free-content">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
    </div>
  </div>
</div>

