.team-map {
  position: relative;
  height: 65vw;
  max-height: 48em;
  min-height: 0;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 40%;
    background-image: linear-gradient(0deg, rgba(#030c1a, 0) 0%, #030c1a 40%);
    opacity: 0.8;

    @media screen and (min-width: $tablet) {
      opacity: 1;
    }
  }
}

.team-map__wrap {
  position: relative;
  z-index: 2;
  top: 3em;

  @media screen and (min-width: $tablet) {
    top: 0;
  }
}

.team-map__map {
  display: none;

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 10%;
    width: 100%;
    left: 0;
    right: 0;
    display: block;
  }
}

.team-map__pin {
  position: absolute;
  opacity: 0;
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }

  &:after {
    content: "";
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    background: $brand;
  }

  &.brazil {
    top: 81%;
    left: 38%;
    animation: 1s 0.4s appears forwards;

    .team-map__profile {
      animation: 1s 1s appearsBox forwards;
    }
  }

  &.peru {
    top: 78%;
    left: 29%;
    animation: 1s 0.5s appears forwards;

    .team-map__profile {
      animation: 1s 1.1s appearsBox forwards;
    }
  }

   &.germany {
    top: 53.3%;
    left: 52.2%;
    animation: 1s 0.6s appears forwards;

    .team-map__profile {
      animation: 1s 1.2s appearsBox forwards;
      transform: translate(calc(-50% + 0.25em), 1.5em);

      &:after {
        border-top: 0.3em solid transparent;
        border-bottom: 0.3em solid rgba(56,74,102,0.55);
        bottom: auto;
        top: -0.6em;
        left: calc(50% - 0.3em);
      }
    }
  }

  &.india {
    top: 68%;
    left: 70%;
    animation: 1s 0.7s appears forwards;

    .team-map__profile {
      animation: 1s 1.3s appearsBox forwards;
    }
  }

  &.usa {
    top: 60%;
    left: 19%;
    animation: 1s 0.8s appears forwards;

    .team-map__profile {
      animation: 1s 1.4s appearsBox forwards;
    }
  }

  &.canada {
    top: 52%;
    left: 29%;
    animation: 1s 0.9s appears forwards;

    .team-map__profile {
      animation: 1s 1.5s appearsBox forwards;
    }
  }

  &.unitedkingdom {
    top: 51.3%;
    left: 49.2%;
    animation: 1s 1s appears forwards;

    .team-map__profile {
      animation: 1s 1.6s appearsBox forwards;
    }
  }
}

@include keyframes(appears) {
  0% {
    opacity: 0;
    @include transform(scale(0));
  }
  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}

@include keyframes(appearsBox) {
  0% {
    opacity: 0;
    margin-bottom: -3em;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

.team-map__profile {
  background: rgba($grey-dark, 0.55);
  position: absolute;
  @include transform(translate(calc(-50% + 0.25em), -5.5em));
  border-radius: 2px;
  padding: 0.7em 1em 0.6em 2em;
  max-width: 12em;
  white-space: nowrap;
  text-align: center;
  line-height: 1;
  opacity: 0;
  @include transform-origin(50% 100%);

  &:after {
    content: "";
    display: block;
    border: 0.3em solid transparent;
    border-top: 0.3em solid rgba($grey-dark, 0.55);
    position: absolute;
    bottom: -0.6em;
    left: calc(50% - 0.3em);
  }

  .flags {
    margin-bottom: 0.3em;

    span {
      margin-left: -1rem;
      width: 2rem;
      height: 2rem;
      display: inline-block;
      border-radius: 100%;
      overflow: hidden;

      &.count {
        background: $grey;
        color: #fff;
        line-height: 2rem;
        font-size: 0.6em;
        font-weight: bold;
        text-align: center;
      }
    }

    span:not(:only-of-type) {
      border: 1px solid $grey-dark;
    }
  }

  p {
    display: inline-flex;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    color: #fff;
    margin: 0;
    line-height: 1;
    margin-left: -2em;

    img {
      width: 1.5em;
      margin-left: 0.7em;
    }
  }
}

.team-grid {
  @include flexbox();
  @include justify-content(space-between);
  @include flex-wrap(wrap);
}

.team-item {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1em;

  @media screen and (min-width: 33em) {
    width: calc(100% / 2 - 0.5em);
  }

  @media screen and (min-width: 60em) {
    margin-bottom: 3em;
    width: calc(100% / 3 - 1.5em);
  }
}

.team-item__image {
  padding-top: 120%;
  background-size: cover;
  background-position: center;
}

.team-item__wrap {
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
  right: 0.5em;
  background: rgba($space, 0.9);
  border-radius: 2px;
  padding: 1em;
  height: 7.8em;
  max-height: 7.8em;
  transition: all 0.5s ease;
}

.team-button__toggle {
  display: none;
}

.team-item__name {
  @include flexbox();
  margin-bottom: 0.3em;
  height: 1.5em;
  overflow: hidden;

  strong {
    max-width: 75%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  img {
    margin-left: 0.5em;
    width: 1.5em;
    position: relative;
    top: 0.2em;
  }
}

.team-item__role {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.team-item__social {
  height: 4em;
  margin-top: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  border-top: 1px solid transparent;
  transition: all 0.7s ease;

  a {
    transition: all 0.7s ease;
    margin-right: 0.2em;

    &:hover {
      opacity: 0.9;
    }
  }
}

.team-item__button {
  position: absolute;
  right: 1em;
  top: 1em;
  display: block;
  width: 2em;
  height: 2em;
  cursor: pointer;

  &:after {
    content: "";
    width: 0.5em;
    height: 0.5em;
    display: block;
    transform: rotate(-45deg);
    position: absolute;
    top: 0.8em;
    right: 0.5em;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transition: all 0.3s ease;
  }
}

.team-item__bio {
  margin-left: -1em;
  margin-right: -1em;
  color: #fff;
  font-size: 0.8em;
  overflow: auto;
  max-height: 0;
  transition: all 0.5s ease;
  padding: 0 1em;

  p {
    margin-bottom: 1em;
    transform: translateY(1em);
    opacity: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.team-button__toggle:checked + .team-item__wrap {
  height: calc(100% - 1em);
  max-height: calc(100% - 1em);

  .team-item__button:after {
    transform: rotate(135deg);
    top: 0.3em;
  }

  .team-item__bio {
    padding: 1em;
    max-height: calc(100% - 8em);
    height: calc(100% - 8em);

    p {
      animation: slide 0.7s 0.1s ease forwards;
    }

    p:nth-child(2) {
      animation: slide 0.7s 0.2s ease forwards;
    }

    p:nth-child(3) {
      animation: slide 0.7s 0.3s ease forwards;
    }
  }

  .team-item__social {
    border-top: 1px solid rgba($grey-bg, 0.1);
  }
}

@keyframes slide {
  0% {
    transform: translateY(1.3em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
